.contBtnMenu{
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.contBtnMenu > .active{
  
    background-color: transparent;
    border : 2px solid var(--main-title-color);
    
}

.contData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
    
}

.dataTable{
    background-color: transparent;
    
    border-top-right-radius: 30px;
  
    display: block;
}

.dataTable > thead{
    font-family: 'Shary';
}

.cel > a {
    text-decoration: none;
    color: #fff;
}
tr{
    position: relative;
}
.anim-hover:hover {
    text-decoration: none;
    color: var(--main-title-color);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
    top: 30%;*/
     text-shadow: 3px 3px 2px #000;
    transition: all .3s linear;
}
.headTable, .cel{
    border : 1px solid var(--main-title-color);
    border-top: .5px solid var(--main-title-color);
    padding: 15px 35px;
}
.left{
    border-right : .5px solid var(--main-title-color);
    border-top-left-radius: 30px;
    border-top: 2px solid var(--main-title-color);
    border-bottom: 1px solid var(--main-title-color);
    display: block;
}
.right{
    border-left : .5px solid var(--main-title-color);
    border-top-right-radius: 30px;
    border-top: 2px solid var(--main-title-color);
    border-bottom: 1px solid var(--main-title-color);
    display: block;
}
.contDataGestion{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
    
}
.contDataGestion > div{
    display: flex;
    flex-direction: column;
}
.contDataGestion > div > input{
    width: 300px;
}
.contDataGestion > .contBtnMenu{
    flex-direction: row;
   
}
.cont_Search{
    margin-top: 50px;
    margin-bottom: -50px;
    display: flex;
    gap: 12px;
    width: 70%;
    justify-content: flex-end;
    align-items: center;

}
.contAllDataGestion{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.contAllDataGestion > form{
    width: 100%;
    height: 100%;
    
}
.ContgestionTable{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ContgestionTable > form{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.celtraining{
    display: flex;
    justify-content: space-between;
}
.celtraining > div{
    display: flex;
    gap: 15px;
    
}
#editDoc{
    width: 250px;
}
.DocName, label[for='btn_submit'], label[for='btn_cancel'], .labdel{
    cursor: pointer;
}

.hiddenbtn{
    display: none;
}
@media screen and (max-width:800px) {
    *::before{
        box-sizing: border-box;
    }
    table, thead,tbody, tr, td,th
    {
        display: block;
        
    }
    th,.left, .right{
        display: none;
    }
    td{
        margin-top: -1px;
        position: relative;
    }
    tr{
        margin-bottom: 20px;
    }
    td::before{
        content: attr(data-info);
        position: absolute;
        top: 0;
        left: -130px;
        width: 130px;
        bottom: 0;
        background-color: var(--main-title-color);
   
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Shary';
    }
    .dataTable{
        margin: 50px 0px;
        margin-left: 130px;
    }
    thead{
        display: none;
    }
}