
.container-titre-dashboard {
    margin : 50px 50px
}

.container-titre-dashboard h2 {
    color: var(--main-title-color);
    margin-bottom: 50px;
}


.container-dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}

.dataTable{
    display: flex;
    justify-content: center;
    width: 450px;
}

.path {
    font-size: 0.8rem;
    color:var(--main-title-color)
}

.col-1 {
    width: 500px;
}

.col-2 {
    width: 250px;
}

.container-titre-dashboard>p {
    margin: 20px auto
}

form {
    align-items: center;
    gap: 20px
}
.cell{
    border : 1px solid var(--main-title-color);
    
}

.up-right{
    border : 1px solid var(--main-title-color);
    border-top-right-radius: 30px;
    display: inline-block;
    /* border-top: 2px solid var(--main-title-color);
    border-bottom: 1px solid var(--main-title-color); */
}

.down-right{
    border : 1px solid var(--main-title-color);
    border-bottom-right-radius: 30px;
    display: inline-block;
    /* border-top: 2px solid var(--main-title-color);
    border-bottom: 1px solid var(--main-title-color); */
   
}

td {
    padding: 20px 35px;
    text-align: center;
}

tr {
    display: flex;
}

.up-left{

    border : 1px solid var(--main-title-color);
    border-top-left-radius: 30px;
    display: inline-block;
    
}

.down-left {

    border-bottom-left-radius: 30px;
    border : 1.5px solid var(--main-title-color);
    display: inline-block;
    
}


table, thead,tbody, tr, td,th
{
    border-collapse: collapse;
      
}

form span {
    align-self: flex-start;
}

i:hover {
    cursor: pointer;
    color:var(--main-title-color)
}

.dataTable input
{
    display: none;
}

.nav__burger {
    display: none
  }

@media screen and (max-width: 480px){

    .dataTable{
        display: flex;
        justify-content: flex-end;
        width: 350px;
    }
}

