/* Style Page register */
.contForm{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


fieldset{
    margin: 30px auto;
    width: 60%;
    border: 1px solid var(--main-title-color);
    border-radius: 25px;
    padding: 15px 25px ;
}

.space{
    width: 55%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

.ContBtn{
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: flex-end;
}

.Return{
    text-align: center;
    position: relative;
    right: 300px;   
}

.Return > a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.suc_err{
    width: 60%;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
    font-size: 1rem;
    background-color: var(--main-title-color);
    border-radius: 25px;

}
@media screen and (max-width: 980px) { 
    .Return{
        right: 100px;
    }
    h1{
        font-size: 3rem;
    }
}


@media screen and (max-width: 500px) { 

    form > fieldset {
        width: 80%;
 
    }
    fieldset{
      
    padding: 15px 5px ;
       
    }
    .space > input{
      
        width: 150px;
           
        }
    .Return{
        right: 0px;
    }
    h1{
        font-size: 2rem;
    }
}



@media screen and (max-width: 250px) {

    form >  fieldset {
     
        width: 220px;
 
    }
    h1{
        font-size: 1rem;
    }
} 

