/* Police  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;400&family=Redressed&display=swap');

@font-face {
    font-family: "Shary";
    src: url("shary-demo.woff2") format("woff2");
    box-sizing: border-box;
    color :#000000
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Regular.woff2") format("woff2");
    box-sizing: border-box;
    color :#000000
}


/* Déclaration des variables de couleur */

:root {
    --main-bg-color: #151B36;
    --main-title-color :#EC6834;
    --dark-blue :#0D1121;
}

body{
    background-color: var(--main-bg-color);
    color : #fff;
    font-family: 'Gilroy','Montserrat';
    
}

ul,li{
    margin :0;
    padding:0
}

/* Titre  */
h1 {
    color : var(--main-title-color);
    margin:0;
    font-family: "Shary";
    font-size: 4em;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color : #fff;
    font-family: "Shary";
    font-size: 1.5em;
    text-align: center;
}

/* Bouton */
.btn-primary {
    background-color :var(--main-title-color);
    border : 2px solid var(--main-title-color);
    color:#fff;
    width: 200px;
    border-radius: 100px;
    font-family: "Shary";
}

.btn-icone{

    background-color :var(--main-title-color);
    border : 2px solid var(--main-title-color);
    color:#fff;
    border-radius: 100px;
}

.btn-icone:hover{
    background-color: transparent;
    border : 2px solid var(--main-title-color)
}

.btn-icone:hover .fa-solid{
    color: var(--main-title-color)
}

.btn-secondary {
    background-color :transparent;
    border : 2px solid var(--main-title-color);
    color:#fff;
    width: 200px;
    border-radius: 100px;
    font-family: "Shary";
}

.btn-primary a, .btn-secondary a {
    color:#fff;
    text-decoration: none;
    font-weight: 500
}
.btn-primary:hover{
    background-color: transparent;
    border : 2px solid var(--main-title-color)
}

.btn-secondary:hover
{
    background-color: var(--main-title-color);
    border : 2px solid var(--main-title-color)
}



/* Header */
header{
    height: 80px;
    background-color: var(--dark-blue);
}

header>h1 {
    margin:auto
}

.logo-MNS {
    margin : 1em 1em;
    height: 40px;
}


/* INDEX */



.container-index{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap:40px

}

.container-button-index{
    display: flex;
    gap:40px;
    justify-content: center;

}


/*Navigation */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
 
nav ul {
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color : var(--main-title-color)
}
nav img
{
    height:40px;
    width: auto;
}

.nav-img-notif
{
    height: 30px;
}

/* menu de base  */

.navbar__menu{
    display: flex;
    justify-content: space-around;
    gap : 20px

}

.navbar-account_notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu account */

.navbar-account{
    margin-right: 30px;
    margin-left: 30px;
    transition: all 0.5s;
}


.navbar-notification{
    margin-left:30px;
}

.navbar-account--toggle{
    display: none;
}

.fa-bell{
    font-size: 1.2rem;
}





/* on modifie son comporterment lorsqu'on clique dessus */
.navbar-account--toggle.is-active{
    display: block;
    position:absolute;
    display: flex;
    justify-content: center;
    right: 0;
    background-color: var(--dark-blue);
    border-radius: 10px;
}
.navbar-account__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    min-width: 120px;
    margin: 5px 5px;
    
}

.navbar-account__content li{
    padding : 2.5px 0;
    font-size: 0.9rem;
}

.content-log-out .fa-solid {
    margin-right:5px
}

.content-log-out:hover i{
    color:var(--main-title-color)
}



/* Page connexion */
.container-login, .container-reset-password {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem
}

.container-button-back {
    align-self:flex-start;
    margin-top: 20px;

}




/* Login form */
.reset-password-form-container{
    margin: 5% auto;
}

.login-form-container, .reset-password-form-container{
    min-height: 450px;
    width: 410px;
    border: solid 2px var(--main-title-color);
    border-radius: 50px;
    overflow: hidden;


}
.login-form-top, .reset-password-form-top{
    background-color: var(--main-title-color);
    border:solid 2px var(--main-title-color);
    padding: 15px 5px;
    box-sizing: content-box;
}
.login.btn {
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
}

form.reset-password-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%
}

form.reset-container-form {
    justify-content: flex-start;
    gap:20px;
    height: auto;
}

.register-part {

    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20px;
}

.register-part > p {
    font-family: 'Gilroy';
    letter-spacing: 0.1rem;
    font-size: 1.2em;
}

.form-group {
    margin : 10px auto;
    width: 90%;
    font-family: 'Gilroy';
    position:relative
}

input::placeholder {
    font-weight: 100;
}
.container-button-center {
    display: flex;
    justify-content: center;
}

.password_forgotten {
    text-align: right;
    margin: 0px 10px
}
.password_forgotten a {
    color: #fff;
}

.check-form{
    font-family: 'montserrat';
    font-size: 0.8rem;
    margin-top: 5px;
}

/* les classes .icone-verif et .message-alerte sont utilisées pour gérer les messages d'erreur (en JS et PHP).
On ajoute la class .login-js pour que les éléments gérés par le js ne soient pas visibles à l'affichage de la page. 
JS passe le display en 'inline' si l'email ou le mdp tappés par l'internaute ne répond pas aux critères de validations.
Les autres éléments s'afficheront grâce à php et ne seront pas impactés par le display none*/

.icone-verif {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 35px;

}
.message-alerte {
    width: 100%;
    color: crimson;
    font-family : 'Montserrat';
    font-size : 0.8rem;

}

.login-js
{
    display:none
}


.check-form{
    font-family: 'montserrat';
    font-size: 0.8rem;
    margin-top: 5px;
}


/* Form reset-password  */



.login.btn {
    margin-top: 20px;
}

form.container-reset-password{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 98%;
}
.form-group {
    margin : 10px auto;
    width: 90%;
    font-family: 'Gilroy';
    position:relative
}

.password-forgotten-text {
    text-align: center;
    margin-top: 15%;
}

.password-forgotten-text h3 {
    text-align: center;
    font-family: 'gilroy';
    font-size: 1rem;
    color:var(--main-title-color)
}
.password-forgotten-text p {
    text-align: center;
    font-family: 'montserrat';
    font-size: 0.8rem;
}

.alert-form {
    padding: 0.2em;;
    margin: 2rem auto;
    width: 95%;
    border-radius: 10px;
    text-align:center;
    font-size:0.8rem
}



/* menu BURGER pour la version mobile */
@media all and (max-width: 767px) {
    .navbar {
        justify-content: space-between;
    }
    .nav__burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        margin-left: 20px;
      }
      .navbar__menu{
        display: flex;
        flex-direction: column;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        color: transparent;
        height: 60vh;
        position: absolute;
        top: 80px;
        left: -100px;
        background-color: var(--dark-blue);
        transition: all 0.5s;
        align-items: center;
      }

      .show-nav .navbar__menu {
        width: 100%;
        visibility: visible;
        left: 0;
    }
      .nav__burger__bar {
        display: inherit;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 3px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
      .show-nav .nav__burger__bar {
        width: 0;
        color: transparent;
      }
      .nav__burger__bar::before, .nav__burger__bar::after {
        content: "";
        width: 30px;
        height: 3px;
        position: absolute;
        left: 0;
        background: white;
        border-radius: 3px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
      .nav__burger__bar::before {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
      }
      .show-nav .nav__burger__bar::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      .nav__burger__bar::after {
        -webkit-transform: translateY(12px);
                transform: translateY(12px);
      }
      .show-nav .nav__burger__bar::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
}

@media all and (min-width: 768px) {
    .nav__burger {
      display: none;
    }
}


@media all and (max-width: 478px) 
{
    h1{
        font-size: 2em;
    
    }
    .container-login
    {
        height: 80vh;
    }
    .login-form-container{
        width: auto;
    }

    .register-part{
        padding : 0 5px
    }

}