
/* Déclaration des variables de couleur */

/* 
a{
    color:white;
    text-decoration:none;
} */

h2 {
    color:var(--main-title-color)
}

.personal-info-content p:first-child
{
    text-align: center;
    margin-bottom: 20px;
}
.container-titre-dashboard {
    margin : 30px 30px
}

.container-titre-dashboard h2 {
    color: var(--main-title-color);
}


.container-dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}

.dashboard-personal-info, .profile-pic {
    height: 400px;
    min-width: 450px;
    border : 2px solid var(--main-title-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-personal-info h2 {
    text-align: left;
    margin-bottom: 40px;

}

.personal-info-content {
    width: 90%;
    height:80%;
}

.personal-info-content h3 {
    font-size: 1.2rem;
}

.recap-retards-absences span {
    color : var(--main-title-color)
}

.fa-bell{
    color:#fff
}

.fa-calendar-days, .fa-clock{
    color:var(--main-title-color);
}

ul li {
    list-style-type: none;
    margin: 10px auto
}


/* ACCOUNT */


div.container-account > div {
    padding: 10px 15px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.one {
    grid-area: one;
  }
  
.two {
grid-area: two;
}

.three {
grid-area: three;
}

.container-account {
    width: auto;
    margin-top: 20px;
    /* display: grid;
    grid-area: one ;
    grid-template-columns:auto;
    grid-template-areas:    
        "one one"
        "two three";
    gap:40px; */
}

.alert>p{
    margin-bottom: 0;
    font-size:0.9rem
}

/* PERSONAL DATA */


.container-personal-info input{
    font-size: 1rem;
    max-width: 400px;
   }

.part-address{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    justify-content: space-between;
}



.form-control {
    padding: 0.5rem 1rem;
}



.container-personal-info label{
    width: 100%;
    /* color:#fff; */
    color : var(--main-bg-color);
    text-align: left;
}

.part-typeLane label
{
    width: 50px;
}


/* CHANGE PASSWORD */

div.container-account >.container-change-password {
    min-height : 300px;
    height:inherit;
}

.container-change-password>.alert{


    padding : 1rem 0.5rem;

}

.container-change-password .alert-form{
    width: inherit;
}

.form-floating > .form-control {
    padding : 0.5rem 1rem
}

.fa-pen, .fa-trash{
    color: #fff;
}

.form-update-delete-pic
{
    display: flex;
    justify-content: center;
    gap:30px
}


.container-profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-profile-pic form {
    height: auto;
}

.container-account h2 {
    color:var(--main-title-color);
    margin-bottom: 20px;
}

.container-account .icone-verif{
    top:20px
}

.container-profile-pic input {
    display:none
}

.form-floating{
    min-width: 350px;
    width: 400px;
}

/* form {
    display: inherit;
    flex-direction: inherit;
    width : inherit
} */


.container-personal-info{
    text-align: center;
    width: 100%;
}

.form-change-pic p {
    margin-bottom: 0;
}

/* Formulaire changement de mdp :  */

.ligne {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.l1, .l2, .l3 {
    width: 30%;
    height: 5px;
    margin: 15px 5px 20px;
    position: relative;
    display: none;
}
.ligne span {
    color : #fff;
    font-size: 0.8rem;
}
.l1 {
    background: rgb(182,182,13);
}
.l2 {
    background: rgb(151,85,85);
}
.l3 {
    background: green;
}
.ligne span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.btn-primary:disabled {
    color: #fff;
    background-color: var(--main-bg-color);
    border-color: var(--main-title-color);

}

.message-alerte{
    display: block;
}

.icone-verif-js {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;

}

button.btn-hidden{
    display: none;
}

.form-floating
{
    color:var(--main-bg-color)
}

.form-change-password
{
    gap:10px
}

/* ABSENCE */

.container-title-absence h2{
    color: var(--main-title-color);
    margin : 30px auto 50px auto
}



.cell{
    border : 1px solid var(--main-title-color);
    
}

small{
    font-weight:400

}

.container-btn-absence{
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-btn-absence .btn-primary
{
   width: auto;

}

.dataTable_justify tbody tr:last-child .table-col-1, .dataTable_justify tbody tr:last-child .table-col-5{
    border-top:solid 0.5px var(--main-title-color) 

}

table tr:first-child th {
    border-top: inherit;
}

table th:last-child {
    border-right: inherit;
}

table tr:last-child td{
    border-bottom: inherit;
}




.container-table
{
    border : 1px solid var(--main-title-color);
    border-radius: 30px;
    overflow-x:auto;
    width: 100%;

}

table, thead,tbody, tr, td,th
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
      
}

td, th {
    padding: 10px 15px;
    width: auto;
}

.table-col-1{
    
    border-left: inherit;
}

.table-col-5{
    border-right: inherit;
}

.path {
    font-size:0.8rem;
    color:var(--main-title-color);
}
.fa-cloud-arrow-up{
    color: white
}
.fa-cloud-arrow-up:hover {
    color : var(--main-title-color)
}

.form-justify-abs{
    align-items: center;
}

/* // input file pour justifier absence  */
.dataTable_justify input[type='file']
{
    display:none
}

/*declare absence */
.input-group-text, .form-input{
    padding: 0.75rem 1rem;
}

select#absence_motif {
    width: 100%;
}

.input-group{
    min-width: 350px;
    width: 400px;
    flex-wrap: inherit;
}

#form_mobile{
    display: none;
}


@media all and (max-width: 480px){


    .container-titre-dashboard {
        padding: 0 10px;
        margin: inherit;
        margin-top:40px
    }

    
    

    .form-floating > label
    {
        font-size: 0.8rem;
    }

    
}



@media all and (max-width: 800px){

   .container-account{
        grid-template-areas: "one" "two" "three";
   } 

    #form_mobile{
        display: inline;
    }

    #form_full-screen{
        display: none;
    }


    .container-personal-info input{
        width: 100%;
        font-size: 0.8em;
        max-width: inherit;
    }

    .container-personal-info label {
        width: auto;
        font-size:0.8rem
    }



    .form-floating, .input-group{
        width: auto;
        min-width: inherit;
    }
    button[name="btn-declare-abs"]
    {
        align-self: center;
    }

    .container-btn-absence  button {
        font-size: 0.7rem;
    }
    .container-btn-absence{
        flex-direction: column;
        gap: 20px;
    }

    .form-declare-abs label, .form-declare-abs input, .form-declare-abs select{
        font-size: 0.8rem;
    }

}



@media screen and (max-width: 1000px){

    .container-dashboard{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 30px
    }

    
    ul li{
        font-size: 0.9rem;
    }
    .dashboard-personal-info, .profile-pic {

        display: none;
        
    }

    .container {
        max-width: none;
    }
    
}

