{% extends "partials/base-trainee.html.twig" %}

{% block body %}

	<div class="container">
		<div class="container-title-absence">
			<h2>Vos absences</h2>
		</div>
		<div class="row container-absence-table">
			<form class="form-docs" action="#" method='post' enctype='multipart/form-data'>
				<div class="container-table col-10 col-sm-12">
					<table class="dataTable">
						<thead>
							<tr>
								<th class="up-left table-col-1">Date de début</th>
								<th class='cell table-col-2'>Date de fin</th>
								<th class='cell table-col-3'>Durée
									<div>
										<small>en nombre de jour(s)</small>
									</th>
								</th>
								<th class='cell table-col-4'>Motif</th>
								<th class='up-right table-col-5' class="up-right table-col-2">Statut</th>
							</tr>
						</thead>
						<tbody>
							{% for key,absence in absences %}
								<tr>
									{% if key == indexTab -1 %}
										<td class="table-col-1 down-left">
										{% else %}
											<td class='cell table-col-1'>
											{% endif %}
											{{absence.startingDate}}
										</td>
										<td class='cell table-col-2'>{{absence.endDate}}</td>
										<td class='cell table-col-3'>{{absence.duration}}</td>
										<td class='cell table-col-4'>{{absence.wording_motif|capitalize}}</td>
										{% if key == indexTab -1 %}
											<td class='down-right table-col-5'>
											{% else %}
												<td class='cell table-col-5'>
												{% endif %}
												{% if absence.isJustified == 1 %}Justifiée
													{% elseif (absence.isJustified) is null and absence.id_motif is null and absence.id_document is null and absence.deadline <= 2 %}En attente de justificatif
													{% elseif (absence.isJustified) is null and absence.id_motif is defined and absence.id_document is defined %}Justificatif envoyé
													{% elseif (absence.isJustified) is null and (absence.id_motif is null or absence.id_motif is defined) %}Injustifiée
													{% elseif (absence.isJustified) == 0  %}Injustifiée

												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tr>
							</tbody>
						</tbody>
					</table>
				</div>
			</form>
		</div>
		<div class="container-btn-absence">
			<a href="/?area=trainee&controller=absence&action=declare">
				<button type="submit" name="form-button" class="btn btn-primary">Déclarer une absence</button>
			</a>
			<a href="/?area=trainee&controller=absence&action=justify">
				<button type="submit" name="form-button" class="btn btn-primary">Justifier une absence</button>
			</a>

		</div>
	{% endblock %}
