{% extends "partials/base-trainee.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row container-title-absence">
			<h2 class="col-12">Déclarer une absence</h2>
		</div>

		<div class="row justify-content-center">
			{% if message is defined%}
				<div class="col-6 alert-info alert">{{message|raw}}</div>
			{% endif %}
			<div class="col-10">
				<form class="form-declare-abs" action="#" method='post' enctype='multipart/form-data'>
					<div class="form-floating mb-3">
						<input name="startingDate_absence" type="date" class="form-control" id="floatingInput">
						<label for="floatingInput">Date de début de l'absence</label>
					</div>
					<div class="form-floating">
						<input name="endDate_absence" type="date" class="form-control" id="floatingInput" placeholder="Password">
						<label for="floatingPassword">Date de fin</label>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="absence_motif">Motif</label>
						</div>
						<select class="custom-select" name="id_motif" id="absence_motif">
							<option selected>Choose...</option>
							{% for  motif in motifs %}
								<option value="{{motif.id_motif}}">{{motif.wording_motif}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Justificatif</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="report_justificatif" id="report_justificatif">
							<label class="custom-file-label" for="report_justificatif">Choisir un document</label>
						</div>
					</div>
					<button type="submit" name="btn-declare-abs" class="btn btn-primary btn-lg">Envoyer</button>


				</form>
			</div>
		</div>
		<script src="/scripts/trainee-declare-absence.js"></script>
	{% endblock %}
