{% extends "partials/base.html.twig" %} 

{% block body%}
<div class="container container-index">
    <h1>ADMIN MNS</h1>
    <div class='container-button-index'>
        <a href="/?controller=security"><button type="button" class="btn btn-primary btn-lg">Connexion</button></a>
        <a href="/?action=register"><button type="button" class="btn btn-primary btn-lg">Inscription</button></a>
    </div>
</div>
{% endblock %}

