{% extends "partials/base.html.twig" %} 

{% block body%}

<div class="container container-login">
    <div class='container-button-back'>
        <a href="/"><button type="button" class="btn btn-primary btn-back">Retour</button></a>
    </div>
    <div class="login-form-container">
        <div class="login-form-top">
            <h2>Connectez vous a votre espace ADMIN MNS</h2>
        </div>
        <form method='post' action='/?controller=security&action=check'>
            <div class="form-group">
                <label for="email">Adresse email</label>
                <input type="email" name="email" class="form-control" id="email_input" placeholder="name@example.com">
                <div class='check-form'>
                    <img src="images/check.svg" alt="icone de validation" class="icone-verif login-js">
                    <span class="message-alerte login-js">Rentrez un email valide.</span>
                </div>
                {% if email_error is defined %} {% include "partials/inc_email-error.php" %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password"  name="password" class="form-control" id="password_input" placeholder="tappez votre mot de passe">
                {% if password_error is defined %} {% include "partials/inc_password-error.php" %}
                {% endif %}
                {% if error_account is defined %} {% include "partials/inc_account-error.php" %}
                {% endif %}
            </div>    
                <div class="container-button-center">
                    <input type="submit" class="btn btn-primary" value="Se connecter" name="submit" />
                </div>
            <div class="password_forgotten"><a href="/?controller=security&action=forgotPassword">mot de passe oublié ?</a></div>
        </form>    
    </div>
</div>
</div>
<script src="scripts/login-check.js"></script>

{% endblock %}
