{% extends "partials/base.html.twig" %} 

{% block body %}

<div class="container container-reset-password">
    {% if success is not empty %}
        <span class="alert alert-light" role="alert">{{success}}</span>
    {% endif %}  
    {% if error is not empty %}
        <span class="alert alert-danger" role="alert">{{error|raw}}</span>
    {% endif %}
    {{ form ? include('reset-password-form.html.twig') : null }} 
</div>
<script src="scripts/login-check.js"></script>

{% endblock %}

